// hello there
seleno pocket put result "Hello World"
seleno say result

seleno pocket put result2 1
seleno say result2

seleno pocket put result2 2
seleno say result2

seleno pocket put result2 3
seleno say result2

seleno pocket put run 1

seleno run repeat
seleno say result2
seleno end